<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Eletroeletronicos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid p-0">
       <div class="card">
          <div class="card-header text-center m-0 p-0">
              <div class="card-header">
                <ul class="row nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link font-weight-light" style="font-size: 1.4rem;" href="/cadastrarProduto">Cadastrar Produtos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link font-weight-light" style="font-size: 1.4rem;" href="/cadastrarCliente">Cadastrar Clientes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link font-weight-light" style="font-size: 1.4rem;" href="/cadastrarContato">Contate-nos</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <p class="display-4" style="font-size: 2.0rem;">Eletroeletrônicos Adami</p>
                <p class="card-text font-weight-light" style="font-size: 1.3rem;">Melhores preços para você aproveitar!</p> 
              </div>
          </div>
    
          <div class="card-body mt-5">
              <div class="row text-center mt-3">
                  <div class="col-xs-4 col-md-4 col-lg-4">
                      <div class="card mb-5">
                          <img class="card-img-top" src="/img/notebook.jpg" alt="Notebook Acer">
                          <div class="card-body">
                              <h5 class="card-title">Notebook Acer</h5>
                              <p class="card-text">Excelente opção em custo benefício! Um Notebook que carrega em seu interior um processador Intel core-i9 e uma placa gráfica dedicada NVIDIA RTX 4400 4Gb.</p>
                              <a href="/cadastrarProduto" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Adicione esse produto no seu estoque">Adicionar</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-4 col-md-4 col-lg-4">
                      <div class="card mb-5" >
                          <img class="card-img-top" src="/img/televisor.jpg" alt="TV LG 4k">
                          <div class="card-body">
                              <h5 class="card-title">Smart Tv</h5>
                              <p class="card-text">Tv LG Smart! Uma imagem incrível para você e sua família. Com a tecnologia HDR que proporciona um ambiente de cores mais vivas para seus filmes e jogos.</p>
                              <a href="/cadastrarProduto" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Adicione esse produto no seu estoque">Adicionar</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-4 col-md-4 col-lg-4">
                      <div class="card mb-5" >
                          <img class="card-img-top" src="/img/xiaomi.jpg" alt="Celular Xiaomi Note 9">
                          <div class="card-body">
                              <h5 class="card-title">Celular Xiaomi Note 9</h5>
                              <p class="card-text">O xiaomi Note 9 conta com um processador snapdragon 4600UE, tela de 6,43" e memória interna de 128GB para seus arquivos. <b>Bota o Iphone pra mamar!</b></span></p>
                              <a href="/cadastrarProduto" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Adicione esse produto no seu estoque">Adicionar</a>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center mt-5">
                All Rights Reserved &copy;
            </div>
        </div>  
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
</body>
</html>