<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container-fluid p-0">
        <div class="card">
            <div class="card-header text-center m-0 p-0">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link font-weight-light" style="font-size: 1.4rem;" href="/">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-light" style="font-size: 1.4rem;" href="/deleteAndAlterCliente">Voltar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-light" style="font-size: 1.4rem;" href="/cadastrarCliente">Cadastrar Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-light" style="font-size: 1.4rem;" href="/cadastrarContato">Contate-nos</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                  <p class="display-4 font-weight-light" style="font-size: 2.5rem;">Dados do Cliente</p>
                </div>
            </div>
            <div class="container">
                <div class="list-group m-4">
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1 font-weight-light" style="font-size: 1.5rem;">Nome</p>
                        </div>
                        <p class="mb-1 font-weight-light" style="font-size: 1.2rem;" th:text="${clientes.nome}"></p>
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1 font-weight-light" style="font-size: 1.5rem;">E-mail</p>
                        </div>
                        <p class="mb-1 font-weight-light" style="font-size: 1.2rem;" th:text="${clientes.email}"></p>
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1 font-weight-light" style="font-size: 1.5rem;">Telefone</p>
                        </div>
                        <p class="mb-1 font-weight-light" style="font-size: 1.2rem;" th:text="${clientes.telefone}"></p>
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1 font-weight-light" style="font-size: 1.5rem;">Endereço</p>
                        </div>
                        <p class="mb-1 font-weight-light" style="font-size: 1.2rem;" th:text="${clientes.endereco}"></p>
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1 font-weight-light" style="font-size: 1.5rem;">Cidade</p>
                        </div>
                        <p class="mb-1 font-weight-light" style="font-size: 1.2rem;" th:text="${clientes.cidade}"></p>
                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1 font-weight-light" style="font-size: 1.5rem;">CEP</p>
                        </div>
                        <p class="mb-1 font-weight-light" style="font-size: 1.2rem;" th:text="${clientes.cep}"></p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-center" style="bottom: 0;position: relative; width: 100%;">
              All Rights Reserved &copy;
          </div>
        </div>
    </div>


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
</body>
</html>